---
layout: "base.njk"
authors: chchabin
description: Centre de formation Bureau 89
title: Centre de formation Bureau 89
---
<div class="solutions-carousel">
    <h2 class="carousel-title">Nos solutions de formation</h2>

    <div class="carousel-container">
        <div class="carousel-track">
            <!-- Slide 1: L'inter -->
            <div class="carousel-slide">

                <div class="carousel-card">
                    <a href="{{ site.baseURL }}docs/formation-u-m/introduction/cni" class="formation-link">
                    <img src="https://picsum.photos/id/1/200/300" alt="L'inter">

                    <h3>Comprendre l’informatique pour les non-informaticiens</h3>

                    <p>2 jours</p>
                    <p>1850 € H.T.</p>
                    <p>Prérequis :
                        Aucune connaissance particulière</p>
                       </a>
                </div>

            </div>

            <!-- Slide 2: Les séminaires -->
            <div class="carousel-slide">
                <div class="carousel-card">
                    <a href="{{ site.baseURL }}docs/formation-info/windows_server/windows_2022" class="formation-link">
                    <img src="images/christin-hume-mfB1B1s4sMc-unsplash.jpg" alt="Les séminaires">
                    <h3>Windows Server 2022, mise en œuvre et administration</h3>
                    <p>5 jours (35 heures)</p>
                    <p>2990 € H.T.</p>
                    <p>Prérequis :
                        Bonnes connaissances de la gestion de postes Windows (10, 8 ou 7) en réseau.</p>
                    </a>
                </div>

            </div>

            <!-- Slide 3: Les certifications -->
            <div class="carousel-slide">
                <div class="carousel-card">
                    <a href="{{ site.baseURL }}docs/formation-info/windows_server/active-directory-windows-server-2022" class="formation-link">
                    <img src="images/christin-hume-Hcfwew744z4-unsplash.jpg" alt="Les certifications">
                    <h3>Windows Server 2019, administration de l’Active Directory</h3>
                    <p>4 jours</p>
                    <p>2160 € H.T.</p>
                    <p>Prérequis :
                        Connaissances de base de l’administration d’un serveur Windows.
                    </p>
                    </a>
                </div>
            </div>

            <!-- Slide 4: L'intra et le sur-mesure -->
            <div class="carousel-slide">
                <div class="carousel-card">
                    <a href="{{ site.baseURL }}docs/formation-info/windows_server/haute_disponibilite" class="formation-link">
                    <img src="https://picsum.photos/id/3/200/300" alt="L'intra et le sur-mesure">
                    <h3>Windows 2022, mise en œuvre de la haute disponibilité (Cluster)</h3>
                    <p>3 jours</p>
                    <p>2080 € H.T.</p>
                    <p>Prérequis :
                        Aucune connaissance particulière </p>
                    </a>
                </div>
            </div>

            <!-- Slide 5: Le digital learning -->
            <div class="carousel-slide">
                <div class="carousel-card">
                    <a href="{{ site.baseURL }}docs/formation-info/powershell/powerShell_automatisation" class="formation-link">
                    <img src="https://picsum.photos/id/4/200/300" alt="Le digital learning">
                    <h3>PowerShell,
                        automatiser l'administration de Windows(Avancé)</h3>
                    <p>3 jours</p>
                    <p>2080 € H.T.</p>
                    <p>Prérequis :
                        Expérience des technologies réseau Windows. </p>
                    </a>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" id="prev">&lt;</button>
        <button class="carousel-control-next" id="next">&gt;</button>
    </div>

    <div class="carousel-indicators" id="indicators"></div>
</div>
<br><br>