<footer class="bg-info py-5">
    <div class="container">
        <!-- Main Footer Content -->
        <div class="row mb-4">
            <!-- À PROPOS Section -->
            <div class="col-md-3">
                <h5 class="text-white mb-3">À PROPOS</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ site.baseURL | url }}docs/financement/a_propos" class="text-white text-decoration-none">Qui sommes-nous ?</a></li>
                    <li><a href="{{ site.baseURL | url }}docs/financement/demarche_qualite" class="text-white text-decoration-none">Démarche qualité</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="#" alt="Qualiopi" class="img-fluid">
                <p class="text-white small mt-2">Bureau 89 est en preparation pour obtenir la certification Qualiopi au titre de la catégorie ACTIONS DE FORMATION</p>
            </div>

            <div class="col text-end">
                <a href="https://www.linkedin.com/in/nicolaschabin/" class="text-white me-3"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col text-center text-white">
                <small>© 2025 Bureau89 | <a href="{{ site.baseURL | url }}docs/financement/mentions-legales" class="text-white">Mentions légales</a> |
                    <a href="{{ site.baseURL | url }}docs/financement/politique-protection-donnees" class="text-white">Protection des données personnelles</a> |
                    <a href="{{ site.baseURL | url }}docs/financement/cgv" class="text-white">CGV</a></small>
            </div>
        </div>
    </div>
</footer>